# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/captures/
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Logs
*.log
